kind: BuildConfig
apiVersion: build.openshift.io/v1
metadata:
  name: html-openshift-app
  labels:
    app: html-openshift-app
    app.kubernetes.io/part-of: html-openshift-app
spec:
  nodeSelector: null
  output:
    to:
      kind: ImageStreamTag
      name: "html-openshift-app:latest"
  resources: {}
  successfulBuildsHistoryLimit: 5
  failedBuildsHistoryLimit: 5
  strategy:
    type: Source
    sourceStrategy:
      from:
        kind: ImageStreamTag
        name: 'nginx:latest'
        namespace: openshift
  postCommit: {}
  source:
    type: Git
    git:
      uri: "https://github.com/humensch/m210_buildconfig_site.git"
    contextDir: /web
    sourceSecret:
      name: github-secret
  
  triggers:
    - type: Generic
      generic:
        secretReference:
          name: github-webhook-secret
    - type: ConfigChange
    - type: ImageChange
      imageChange: {}
  runPolicy: Serial
